@page "/donate" 

<p>We know many of you want to help out by sending flowers or food for the services. Thankfully, Markitos’s cousins have taken care of all of our needs for the services. Marcos always wanted to help others in need, to honor his name, we would love for you to donate to some of the causes close to his heart.</p>

<div class="card mb-3">
    <div class="card-header" text-white bg-secondary>
        Dana Farber Cancer Institute
    </div>
    <div class="card-body">
        <p>The Dana Farber Cancer Institude is one of the leading Cancer research institutes of the world. Marcos was lucky to be treated by this amazing team of medical professionals.</p>
        <a href="https://danafarber.jimmyfund.org/site/Donation2?df_id=2101&mfc_pref=T&2101.donation=form1" class="btn btn-success">Donate</a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header" text-white bg-secondary>
        Chromosome18
    </div>
    <div class="card-body">
        <p>Alan, Marcos older brother, was born with this unique syndrome and Marcos and the family have always supported this organization that researches this syndrome.</p>
        <a href="https://chromosome18.salsalabs.org/donate/index.html" class="btn btn-success">Donate</a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header" text-white bg-secondary>
        Kadima
    </div>
    <div class="card-body">
        <p>Kadima is a jewish organization that helps kids with special needs in Mexico.</p>
        <a href="http://kadima.org.mx/fundacion.html" class="btn btn-success">Donate</a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header" text-white bg-secondary>
        Wellesley Chabad
    </div>
    <div class="card-body">
        <p>Chabad is a Jewish organization that helps Jewish people around the world.</p>
        <a href="https://www.wwjewish.org/templates/articlecco_cdo/aid/4662447/jewish/Donate.htm" class="btn btn-success">Donate</a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header" text-white bg-secondary>
        Boston Food Bank
    </div>
    <div class="card-body">
        <p>The Greater Boston Food Bank works passionately to end hunger across Eastern Massachusetts by providing our neighbors in need the healthy food they and resources they need to thrive.</p>
        <a href="https://my.gbfb.org/give/248538/#!/donation/checkout" class="btn btn-success">Donate</a>
    </div>
</div>