@page "/donate" 

<p>We know many of you want to help out by sending flowers or food for the services. Thankfully, Markitos’s cousins have taken care of all of our needs for the services. Marcos always wanted to help others in need, to honor his name, we would love for you to donate to some of the causes close to his heart.</p>

<div class="card mb-3">
    <div class="card-header" text-white bg-secondary>
        Dana Farber Cancer Institute
    </div>
    <div class="card-body">
        <p>The Dana Farber Cancer Institude is one of the leading Cancer research institutes of the world. Marcos was lucky to be treated by this amazing team of medical professionals.</p>
        <a href="https://danafarber.jimmyfund.org/site/Donation2?df_id=2101&mfc_pref=T&2101.donation=form1" class="btn btn-success">Donate</a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header" text-white bg-secondary>
        Chromosome18
    </div>
    <div class="card-body">
        <p>Alan, Marcos older brother, was born with this unique syndrome and Marcos and the family have always supported this organization that researches this syndrome.</p>
        <a href="https://chromosome18.salsalabs.org/donate/index.html" class="btn btn-success">Donate</a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header" text-white bg-secondary>
        Kadima
    </div>
    <div class="card-body">
        <p>Kadima is a jewish organization that helps kids with special needs in Mexico.</p>
        <a href="http://kadima.org.mx/fundacion.html" class="btn btn-success">Donate</a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header" text-white bg-secondary>
        Babson Wellesley Chabad
    </div>
    <div class="card-body">
        <p>Chabad is a Jewish organization that operates on the Babson campus and a home away from home for Marcos, while he was in college and beyond.</p>
        <a href="https://www.wwjewish.org/templates/articlecco_cdo/aid/4662447/jewish/Donate.htm" class="btn btn-success">Donate</a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header" text-white bg-secondary>
        Boston Food Bank
    </div>
    <div class="card-body">
        <p>The Greater Boston Food Bank works passionately to end hunger across Eastern Massachusetts by providing our neighbors in need the healthy food they and resources they need to thrive.</p>
        <a href="https://my.gbfb.org/give/248538/#!/donation/checkout" class="btn btn-success">Donate</a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header" text-white bg-secondary>
        Marcos Flegmann Fund For Ants
    </div>
    <div class="card-body">
        <p>Some of Marcos friends came up with the idea of donating a field house in his honor along with a scholarship fund for the next 20 years. Please contribute to make this amzing idea a reality.</p>
        <a href="https://impact.babson.edu/project/24336/wall?fbclid=IwAR0RRaClXPCBPOqjnH4vPkU6iNab6Nz08whbhKipqASpfhe5ZgiQEchDsmc" class="btn btn-success">Donate</a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header" text-white bg-secondary>
        Folding at Home
    </div>
    <div class="card-body">
        <p>
            Help Cancer's, Alzheimer's, Parkinson's and other Biomedical research by spending five minutes and then letting your PC do the rest of the work. Stanford Runs a project called Folding at home which uses volunteer computers to simulate how proteins fold which helps find cures to diseases.
            You don’t need a fancy machine. Any machine that can run Facebook can run the software!
            To sign up follow these instructions: https://foldingathome.org/start-folding/ (if you get stuck feel free to message me at igalfsg@gmail.com and I will help you)
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/obKN2YmBjfE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br />
        <a href="https://foldingathome.org/start-folding/" class="btn btn-success">Download</a>
    </div>
</div>